---
import Page from '@layouts/Page.astro';
---

<Page id="PageHome">
  <header>
    <h1>Try WebGPU</h1>
  </header>

  <main>
    <p>Hello...</p>
  </main>

  <footer>
    <p>Copyright never</p>
  </footer>
</Page>

<style>
  /* More styles... */
</style>

<script>
  // More script...
</script>
